.footer {
    position: fixed;
    background-color: red;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    padding: 10px 0px;
    background-color: #212529 ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:white;
}
.footer ul{
    margin: 0;
    display: flex;
    padding: 0;
    list-style: none;
}
.footer ul li{
    margin:  0px 5px;
    padding:  0px 5px;
}