.getDetails .buttons{
    display: flex;
    padding: 5px 0px;
    width: 100%;
    justify-content: space-between;
}
.getDetails .key {
    font-weight: 600;
    padding-right: 10px;
    line-height: 30px;
}
.secondDataBox{
    display: flex;
    justify-content: space-evenly;
   }
.dataBox {
    margin: 20px 0px;
    padding: 30px 20px;
    border-radius: 8px;
    background-color: rgb(247, 247, 247);
    box-shadow: 0px 1px 3px 0.1px grey;
}

.dataBox .organizationName {
    font-size: 3vh;
    font-weight: 600;
}

.internshipHeader {
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.secondBox {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.percentage {
    font-size: 3vh;
    font-weight: 600;
}