.loadingPage{
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* animation: loading 5s infinite;
     */
     animation: loading 1s linear infinite;
}
@keyframes loading {
    50% {
      opacity: 0.5;
    }
  }

/* @keyframes loading {
    0%   {opacity: 0}
    20%  {opacity: 1}
    40%  {opacity: 0}
    60%  {opacity: 1}
    80%  {opacity: 0}
    100% {opacity: 1}
  } */