.collapse{
    display: flex;
    justify-content: right;
}
.logoImage{
    /* background-color: red; */
    width: 220px;
}
.tocenter{
    align-items: center;   
}
#onlyBorderButton{
    margin: 0px 10px;
    text-transform: capitalize;
    color: white;
    border-color: white;
}
#onlyBorderButton:hover{
    border-color: #1976d2;
    color: #1976d2;
}
#withBackgroundButton{
    margin: 0px 5px;
    text-transform: capitalize;
}    
#withBackgroundButton:hover{
        color: white;
}
#withBlueBackgroundButton{
    margin: 0px 5px;
    text-transform: capitalize;
}    
#withBlueBackgroundButton:hover{
        color: #1976D2;
}
