.collapse{
    display: flex;
    justify-content: right;
}
.tocenter{
    align-items: center;   
}
#signupbut{
    margin: 0px 10px;
    text-transform: capitalize;
    color: white;
    border-color: white;
}
#signupbut:hover{
    border-color: #1976d2;
    color: #1976d2;
}
#signinbut{
    margin: 0px 5px;
    text-transform: capitalize;
}    
#signinbut:hover{
        color: white;
}